{% load static %}
<html>
    <head>
        <title>Your Discovery Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Your Amazing Discovery and Learning Blog</a></h1>
                </div>
                <div class="nav-right">
                    <a href="{% url 'post_new' %}">Add New Blog Post</a>
            </header>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>